<div class="modal fade" id="modal-create-folder" tabindex="-1" aria-labelledby="modal-create-folder-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="modal-create-folder-label">Add new folder</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <form action="{{url_for('folder-create')}}" method="POST">
          <div class="modal-body">
            <div class="form-group">
              <label for="folder_name">Folder name</label>
              <input type="text" class="form-control" id="folder_name" name="folder_name" placeholder="Name..." required>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">Add folder</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </form>
        
      </div>
    </div>
  </div>